STALE_TASK_CALLBACK_CONTEXT_TIMEOUT_IN_SEC='5'
STALE_TASK_CALLBACK_DELAY_DURATION_IN_MIN='15'
REDIS_URL='redis://localhost:6379/6'
STALE_TASK_SET_KEY='stale_tasks'
TASK_EVENT_CHANNELS='/6.celeryev/task.sent,/6.celeryev/task.received,/6.celeryev/task.started,/6.celeryev/task.succeeded,/6.celeryev/task.failed'
