REDIS_URL='redis://localhost:6379/6'
STALE_TASK_SET_KEY='stale_tasks'
TASK_EVENT_CHANNELS='/6.celeryev/task.sent,/6.celeryev/task.received,/6.celeryev/task.started,/6.celeryev/task.succeeded,/6.celeryev/task.failed'
